<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Привет друг</title>
    <link rel="stylesheet" href="/verstca/Verstka/css/Verstka.css" />
  </head>
  <body>
    <div class="wropper">
      <div class="content">
        <div class="hi">
          <div class="container">
            <div class="hi_row">
              <div class="hi_body">
                <div class="hi_title">
                  "Фільмець" - ми підготували для тебе Top R&B hits
                </div>
                <ul class="hi_list">
                  <li>Unstoppable - Sia</li>
                  <li>Arilena Ara - Zemer</li>
                  <li>Russian Roulette - Rihanna</li>
                  <li>Sliver & Gold - Arilena Ara</li>
                </ul>
              </div>
              <div class="hi_image">
                <img
                  src="/verstca/Verstka/img/kartinki24_ru_3d_341.jpg"
                  alt="Я здесь!!!"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="what">
          <div class="container">
            <div class="what_row">
              <div class="what_image">
                <img src="../Verstka/img/228389498.jpg" alt="Я здесь">
              </div>
              <div class="what_body">
                <div class="what_title title">What is music?
                </div>
                <div class="what_text">
                  <p>Му́зика (від грец. μουσική — мистецтво муз) — мистецтво організації музичних звуків, насамперед у часовій (ритмічній), звуковисотній та тембровій шкалі.</p><p> Музичним може бути практично будь-який звук з певними акустичними характеристиками, які відповідають естетиці тієї чи іншої епохи, та може бути відтвореним.</p><p>Джерелами такого звуку можуть бути: людський голос, музичні інструменти, електричні генератори тощо.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="container">
            <div class="colums_title title">Топ-5 самих популярних R&B-виконавців</div>
            <div class="colums_row">
              <div class="colums_column">
                <div class="colums_item item">
                  <div class="item_row">
                    <div class="item_image">
                      <img src="../Verstka/img/images.png" alt="Я тут!!!">
                      </div>
                      <div class="item_body">
                        <div class="item_title">Rihanna</div>
                        <div class="item_text"><p>Ріа́нна — американська R&B і попспівачка, композиторка, авторка пісень, акторка, філантропка, дизайнерка моди і амбасадорка культури Барбадосу.</p><p>Народилася у Сент-Майклі, Барбадос.</p><p>Ріанна переїхала до США в 16 років, щоб почати кар'єру співачки.</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="colums_column">
                <div class="colums_item item">
                  <div class="item_row">
                    <div class="item_image">
                      <img src="../Verstka/img/arilena_ara.png" alt="Я тут!!!">
                      </div>
                      <div class="item_body">
                        <div class="item_title">Arilena Ara</div>
                        <div class="item_text_Arilena"><p>Арілена Ара також відома як Арілена - албанська співачка і телеведуча.</p><p>Ара досягла національного визнання в Албанії після перемоги на X Factor Albania в 2013 році</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="colums_column">
              <div class="colums_item item">
                <div class="item_row">
                  <div class="item_image">
                    <img src="../Verstka/img/Beyonce250.187.png" alt="Я тут!!!">
                    </div>
                    <div class="item_body">
                      <div class="item_title">Beyonce</div>
                      <div class="item_text_beyonce"><p>Бейо́нсе Жизе́ль Но́улз-Картер — американська виконавиця в стилі R&B, музична продюсерка, акторка, танцівниця, модель та дизайнерка моди.</p><p> Здобула славу наприкінці 1990-х років як лідерка одного з найпопулярніших гуртів усіх часів Destiny's Child.</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="colums_column">
              <div class="colums_item item">
                <div class="item_row">
                  <div class="item_image">
                    <img src="../Verstka/img/Kalush100.png" alt="Я тут!!!">
                    </div>
                    <div class="item_body">
                      <div class="item_title">Kalush</div>
                      <div class="item_text_kalush"><p>«Kalush» — український реп-гурт, заснований у 2019 році.</p><p> Отримав право представляти Україну на Пісенному конкурсі Євробачення 2022 з піснею «Стефанія».</p> 15 травня 2022 року гурт став переможцем «Євробачення-2022»</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical">
        <div class="container">
          <div class="verticale_title title">Соцмережі
          </div>
          <div class="verticale_body">
            <div class="verticale_row">
              <div class="vertical_column">
                <div class="verticale_item">
                  <div class="verticale_subtitle">Буду Радий</div>
                  <div class="verticale_label">Підписці</div>
                  <div class="verticale_text"><p>Підписка дозволяє користувачам переглядати «ексклюзивний» контент блогерів чи інших авторів.</p><p> Люди зможуть переглядати відео й пости, передбачені тільки для тих, хто має підписку, і брати участь у чатах.</p><p> Навіть головна сторінка для власників підписки буде відрізнятися.</p></div>
                  <a href="" class="verticale_btm">Подписатися</a>
                </div>
              </div>
              <div class="vertical_column">
                <div class="verticale_item">
                  <div class="verticale_subtitle">Буду Радий</div>
                  <div class="verticale_label">Лайку</div>
                  <div class="verticale_text">Кнопка «Лайк», кнопка «Подобається» або «Вподобайка» — функція в комунікаційному програмному забезпеченні, призначеному для соціальних мереж, блогів, інтернет-форумів, сервісів соціальних закладок, новинних сайтів, тощо, яка використовується для вираження ставлення користувачів до того чи іншого контенту.</div>
                  <a href="" class="verticale_btm">Лайк</a>
                </div>
              </div>
              <div class="vertical_column">
                <div class="verticale_item">
                  <div class="verticale_subtitle">Буду Радий</div>
                  <div class="verticale_label">Коментарію
                  </div>
                  <div class="verticale_text"><p>Коментарі — це те залучення, якого ми так прагнемо в соцмережах.</p><p> Коментують — отже, цікавляться.</p><p>Ростуть охоплення й органічні перегляди. Це показник якості й актуальності контенту.</p></div>
                  <a href="" class="verticale_btm">Коментувати</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer_row">
            <div class="footer_text">Top music 2022</div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
